<div class="row">
    <div class="col-xs-12 col-md-6 pull-right">
        <h2>Create Note</h2>

        <form name="notes.form">
            <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input type="text" id="title" ng-model="note.title" placeholder="Note Title" class="form-control">
            </div>

            <div class="form-group">
                <label for="content" class="control-label">Content</label>
                <textarea id="content" ng-model="note.content" class="form-control" placeholder="Note content..."></textarea>
            </div>

            <button type="submit" class="btn btn-success" ng-click="notes.createNote(note)">Create Note</button>
            <button class="btn btn-danger pull-right" ng-click="notes.clearForm()">Cancel</button>
        </form>
    </div>

    <div class="col-xs-12 col-md-6">
        <h2>View Notes</h2>

        <div class="panel panel-default" ng-repeat="note in notes.notes | reverse">
            <div class="panel-heading">
                {{ note.title }}

                <button class="btn btn-danger btn-sm pull-right" ng-click="notes.deleteNote(note)">
                    <span class="glyphicon glyphicon-trash"><span class="sr-only">Delete Note</span></span>
                </button>
            </div>
            <div class="panel-body">
                {{ note.content }}
            </div>
        </div>
    </div>
</div>
